@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.imperial {
  color: #ed2929;
}

.celeste {
  color: #b2ffff;
}

.dark-celeste {
  color: #427799;
}

/* spring green */
.spring {
  color: #00ee7e;
}

.dark-spring {
  color: #007a4a;
}

/* light canary */
.canary {
  color: #ffff99;
}

/* white smoke */
.smoke {
  color: #f5f5f5;
}

/* dr. white */
.drwhite {
  color: #fafafa;
}

/* COLORS */
.primary {
  color: #b2ffff;
}

.grey-1 {
  color: #f5f5f5;
}

.grey-2 {
  color: #d5d5d5;
}

/* TEXT */
.text-primary {
  color: #b2ffff;
}

.text-secondary {
  color: #f5f5f5;
}

/* BG */
.bg-primary {
  background-color: #427799;
}

.bg-secondary {
  background-color: #00001c;
}

.bg-grey-1 {
  background-color: #f5f5f5;
}

/* OTHERS */
.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.black-gradient {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.blue-gradient {
  background: #b2ffff;
  background: linear-gradient(-90deg, #b2ffff 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(-90deg, #b2ffff 0%, rgba(60, 51, 80, 0) 100%);
}

.yellow-green-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #ffff99 1.9%, #00ff7f 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #ffff99 1.9%, #00ff7f 97.5%);
}

/* canvas- styles */
.canvas-loader {
  font-size: 12px;
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  background-color: transparent;
  border: 3px solid #b2ffff;
  border-top-color: transparent;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1s infinite linear;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0% {
    transform: rotate(0deg);
    box-shadow:
      0em -2.6em 0em 0em #b2ffff,
      1.8em -1.8em 0 0em rgba(178, 255, 255, 0.7),
      2.5em 0em 0 0em rgba(178, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(178, 255, 255, 0.3);
  }
  100% {
    transform: rotate(360deg);
    box-shadow:
      0em -2.6em 0em 0em rgba(178, 255, 255, 0.3),
      1.8em -1.8em 0 0em rgba(178, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(178, 255, 255, 0.7),
      1.75em 1.75em 0 0em #b2ffff;
  }
}
